<a href="https://colab.research.google.com/github/Messai-Yosra/javscriptbasics/blob/main/ExercicePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 45
v = "Hello"
f = True

f,v,x

(True, 'Hello', 45)

In [ ]:
v*3

'HelloHelloHello'

In [ ]:
list = [1, 2, 3, 4, 5]
list.append("test")
print(list)
list.insert(2,17)
print(list)
list.pop(1)
print(list)

[1, 2, 3, 4, 5, 'test']
[1, 2, 17, 3, 4, 5, 'test']
[1, 17, 3, 4, 5, 'test']

In [ ]:
tuple = (1,7,5, 1,1,7)
print(tuple)
tuple.index(5)

(1, 7, 5, 1, 1, 7)

2

In [ ]:
obj = {
    "id" : 1,
    "prenom"  :  "yosra",
    "nom" : "messai"
}

print(obj.keys())
obj.get("prenom")

dict_keys(['id', 'prenom', 'nom'])

'yosra'

In [ ]:
if 4==5:
  print("equal")
elif 3==3:
  print("nice")
else:
  print("false")

nice

In [ ]:
def greetings(nom):
  return 10


x = greetings("Yosra")

10

In [ ]:
### EXERCICE ###
student_data = {
    "Alice": (20, [85.5, 90.0, 78.5]),
    "Bob": (22, [76.0, 88.5, 92.0]),
    "Charlie": (19, [95.0, 89.5, 91.5])
}

In [ ]:
### QUESTION 1 : PRINT EVERY STUDENT'S MARKS
student_data.get("Alice")[1]

### QUESTION 2 :
for i in student_data:
  print(student_data.get(i)[1])

[85.5, 90.0, 78.5]
[76.0, 88.5, 92.0]
[95.0, 89.5, 91.5]

In [ ]:
###student_data["Yosra"] = (22, [90, 4, 1])
student_data

{'Alice': (20, [85.5, 90.0, 78.5]),
 'Bob': (22, [76.0, 88.5, 92.0]),
 'Charlie': (19, [95.0, 89.5, 91.5])}

In [ ]:
###  Step 3: Calculate and print the average grade for each student
for i in student_data:
  x = student_data.get(i)[1]
  total = 0.0
  count = 0
  for j in x:
    count = count + 1
    total = total + j

  print(total/count)

84.66666666666667
85.5
92.0